@import url(//fonts.googleapis.com/css?family=Lato:300:400);

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-family: lato;
}


.dropdown {
  position: relative;
  display: inline-block;
} 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.nav-link::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(120 93% 79%);
  z-index: -1;
  transition: transform .3s ease;
}

.nav-link {
  position: relative;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}


.project-description {
  padding-left: 80px; 
  padding-right: 80px; 
}

.takeaways {
  padding-left: 80px; 
  padding-right: 80px; 
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  text-align: left;
}

.gdocs {
  padding-left: 50%;
  width: 100%;
  border: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.text-column {
  width: 50%;
  padding-right: 20px;
}

.image-column {
  width: 50%;
}

.imgpreview {
  max-width: none;
  max-height: none;
}

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
  text-align: left;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* CSS to style the email and image */
#email {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
}

#copyButton {
  cursor: pointer;
  width: 24px; /* Adjust the width and height as needed */
  height: 24px;
}

#phone {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
}

#linkedin {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:17px;
  text-align: left;
  color: black;
  padding-left: 40px;
}

.subheading {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:32px;
  text-align: left;
  color: black;
  padding-left: 40px;
}

.subsubheading {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:24px;
  text-align: left;
  color: black;
  padding-left: 40px;
}

.bulletpoints {
  padding-left: 80px; 
  padding-right: 80px; 
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  text-align: left;
}

.joshzeng img {
  max-width: 100%;
  height: 80%;
  padding-left: 40px;
  border-radius: 50%
}



.header {
  position:relative;
  text-align:center;
/*   background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
  background: #ededed;
  color: black;
  z-index: 1;
}


.inner-header {
  height:30vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
  
}
